<a href="https://colab.research.google.com/github/lollolzz/Colab/blob/main/Ch02%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%20%EC%8B%A4%EC%8A%B5/10_%EB%9E%9C%EB%8D%A4%ED%8F%AC%EB%A0%88%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

"""
날짜 : 2021/10/20
이름 : 권능한
내용 : MNIST 숫자이미지 실습하기
"""
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree, metrics
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# 데이터 셋 확인
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [ ]:
# 데이터 불러오기
df_iris = sns.load_dataset('iris')
df_iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:

# 학습데이터
iris_train_data = df_iris.iloc[:, 0:4]
iris_train_label = df_iris.iloc[:, 4]
iris_train_label

train_data, test_data, train_label, test_label = train_test_split(iris_train_data, iris_train_label)
train_data

     sepal_length  sepal_width  petal_length  petal_width
66            5.6          3.0           4.5          1.5
62            6.0          2.2           4.0          1.0
52            6.9          3.1           4.9          1.5
90            5.5          2.6           4.4          1.2
53            5.5          2.3           4.0          1.3
..            ...          ...           ...          ...
131           7.9          3.8           6.4          2.0
58            6.6          2.9           4.6          1.3
86            6.7          3.1           4.7          1.5
97            6.2          2.9           4.3          1.3
71            6.1          2.8           4.0          1.3

[112 rows x 4 columns]

In [ ]:
# 학습하기
model = RandomForestClassifier()
model.fit(train_data, train_label)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
# 테스트 하기
result = model.predict(test_data)

In [ ]:
# 성능평가
score = metrics.accuracy_score(result, test_label)
score

0.9473684210526315

In [ ]:
########### pima 머신러닝 ###########
# 데이터 불러오기
df_pima= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/pima-indians-diabetes.csv', header=None)
df_pima

      0    1   2   3    4     5      6   7  8
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [ ]:
# 학습데이터
pima_data = df_pima.iloc[:,0:8]
pima_label = df_pima.iloc[:,8]
pima_data

train_data, test_data, train_label, test_label = train_test_split(pima_data, pima_label)
train_data

      0    1   2   3    4     5      6   7
328   2  102  86  36  120  45.5  0.127  23
719   5   97  76  27    0  35.6  0.378  52
384   1  125  70  24  110  24.3  0.221  25
455  14  175  62  30    0  33.6  0.212  38
631   0  102  78  40   90  34.5  0.238  24
..   ..  ...  ..  ..  ...   ...    ...  ..
482   4   85  58  22   49  27.8  0.306  28
656   2  101  58  35   90  21.8  0.155  22
703   2  129   0   0    0  38.5  0.304  41
404   5  168  64   0    0  32.9  0.135  41
736   0  126  86  27  120  27.4  0.515  21

[576 rows x 8 columns]

In [ ]:
# 학습하기
model = RandomForestClassifier()
model.fit(train_data, train_label)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
# 테스트하기
result = model.predict(pima_data)

In [ ]:
# 성능평가
score = metrics.accuracy_score(result, pima_label)
score

0.9544270833333334